
            {% extends "blog/base.html" %}

            {% block content%}
            <!-- Blog entries-->
            <div class="col-lg-8">


                {% for entree in blog_blog%}

                <!-- Featured blog post-->
                <div class="card mb-4">
                   
                    <div class="card-body">
                        <div class="small text-muted">{{entree.date}}</div>
                        <h2 class="card-title">{{entree.titre}}</h2>
                        <p class="card-text">{{entree.text}}</p>
                        <span class="card-title"> by {{entree.auteur}}</span>
                        <a class="btn btn-primary" href="#!">Voir plus→</a>
                    </div>
                </div>
                {% endfor %}
             
                <!-- Pagination-->
                <nav aria-label="Pagination">
                    <hr class="my-0" />
                    <ul class="pagination justify-content-center my-4">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Jamais</a></li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                        <li class="page-item"><a class="page-link" href="#!">2</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                        <li class="page-item"><a class="page-link" href="#!">15</a></li>
                        <li class="page-item"><a class="page-link" href="#!">Ancien</a></li>
                    </ul>
                </nav>
            </div>

            {% endblock content%}